In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
file_path = "./../../data/binary_class_sentences.csv"
df = pd.read_csv(file_path, header=None, names=['Text', 'Label'])

In [4]:
df.head()

                                                Text  Label
0  chicken parmesan is no doubt the most popular ...  False
1  and while this delicious meal may seem fancy i...  False
2  in fact chicken parmesan is one of those meals...  False
3  the main problem i have with most versions of ...  False
4  but it doesnt have to be that way not with thi...  False

In [6]:
df.describe()

                                                     Text Label
count                                                 194   194
unique                                                194     2
top     chicken parmesan is no doubt the most popular ...  True
freq                                                    1   156

In [8]:
df.Label.value_counts()

Label
True     156
False     38
Name: count, dtype: int64