In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
file_path = "./binary_class_sentences.csv"
df = pd.read_csv(file_path, header=None, names=['Text', 'Label'])

In [5]:
df.head()

                                                Text  Label
0               you can never go wrong with potatoes  False
1  cooking is an art that combines flavors, textu...  False
2  a well-stocked pantry is the secret to spontan...  False
3  the key to perfect pasta is a large pot of sal...  False
4  cooking with fresh herbs can transform a simpl...  False

In [6]:
df.describe()

                                        Text Label
count                                   2870  2870
unique                                  2870     2
top     you can never go wrong with potatoes  True
freq                                       1  1489

In [7]:
df.Label.value_counts()

Label
True     1489
False    1381
Name: count, dtype: int64